fastapi[standard]
uvicorn[standard]
uvloop>=0.17.0
peewee
python-jose
passlib[bcrypt]
bcrypt==4.0.1
langchain==1.2.12
langchain-openai==1.1.11
langchain-community==0.4.1
openai>=1.0.0
sympy>=1.13.0
manim==0.19.1
Pillow>=10.0.0